html{
    background-color: white;
}

#pg1 > img{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax (200px, 1fr));
    height: 40vh;
    width: 100vw;

}

footer{
    display: grid;
}

#intro{
    display: grid;
}


#pg2{
    display: grid;
    background-color: #03b6eb;
    max-height: 70px;
    grid-template-columns: 400px, 1fr;
}

#pg2 > img{
    height: 50px;
}

#pg2 > nav{
    justify-self: end;
    align-self: center;
}


@media only screen and {min-width: 500px;
    #pg2{
        font-size: 50px;
    }
}